<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>A good road trip playlist</string>
	<string>Baby wipes</string>
	<string>Baggies</string>
	<string>Beer or box wine</string>
	<string>Camelpak</string>
	<string>Car phone charger</string>
	<string>Cash</string>
	<string>Cheap watch</string>
	<string>Chairs</string>
	<string>Deodorant, axe etc.</string>
	<string>Easy up</string>
	<string>Flashlight</string>
	<string>Flip flops</string>
	<string>Water</string>
	<string>Gator aid</string>
	<string>Glow sticks</string>
	<string>Gold bond powder</string>
	<string>Granola bars</string>
	<string>Ice chest</string>
	<string>Knife</string>
	<string>Lighters</string>
	<string>Paper towels</string>
	<string>Pillow</string>
	<string>Clothing</string>
	<string>Sleeping bag</string>
	<string>Smokes</string>
	<string>Sun screen</string>
	<string>Table</string>
	<string>Tent</string>
	<string>Tooth brush and tooth paste</string>
	<string>Towel</string>
	<string>TP</string>
</array>
</plist>
