<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- PEALISTv1: TextSize:0| -->
<plist version="1.0">
<array>
	<string>A good road trip playlist</string>
	<string>Baby wipes</string>
	<string>Baggies</string>
	<string>Beef jerky</string>
	<string>beer or wine</string>
	<string>camelpak</string>
	<string>Car phone charger</string>
	<string>Cash</string>
	<string>Cheap watch</string>
	<string>Chairs</string>
	<string>Deodorant, axe or something to make you smell slightly better</string>
	<string>Dry ice</string>
	<string>Duct tape</string>
	<string>Easy up</string>
	<string>Emergan-c (good for preventing hangovers)</string>
	<string>Flag</string>
	<string>Flag pole</string>
	<string>Flashlight</string>
	<string>Flip flops</string>
	<string>Frozen water</string>
	<string>Fruit</string>
	<string>Gator aid</string>
	<string>Glow sticks</string>
	<string>Gold bond powder</string>
	<string>Granola bars</string>
	<string>Ice chest</string>
	<string>ID</string>
	<string>Juice</string>
	<string>Knife</string>
	<string>Lighters</string>
	<string>Nuts (can could be used as ash tray)</string>
	<string>Off/Bug spray</string>
	<string>Paper towels</string>
	<string>Pillow</string>
	<string>Rope/buggy cord</string>
	<string>Shorts and shirts (at lest one pair that you don&apos;t mind getting wet)</string>
	<string>Sleeping bag</string>
	<string>Smokes</string>
	<string>Something unique and festive to share</string>
	<string>Squirt bottle</string>
	<string>Sun screen</string>
	<string>Sunburn relief</string>
	<string>Table</string>
	<string>Tent</string>
	<string>Tooth brush and tooth paste</string>
	<string>Towel</string>
	<string>TP</string>
</array>
</plist>
