<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- PEALISTv1: TextSize:0| -->
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Austin City Limits</string>
		<key>date</key>
		<string>2015-10-09</string>
		<key>imageString</key>
		<string>ACL</string>
		<key>tableImageString</key>
		<string>ACLLogo</string>
		<key>lat</key>
		<real>30.2585025</real>
		<key>long</key>
		<real>-97.7692911</real>
		<key>lineup</key>
		<string>https://www.aclfestival.com/2014-lineup/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Bonnaroo</string>
		<key>date</key>
		<string>2015-06-11</string>
		<key>imageString</key>
		<string>Bonnaroo</string>
		<key>tableImageString</key>
		<string>BonnarooLogo</string>
		<key>lat</key>
		<real>35.472265</real>
		<key>long</key>
		<real>-86.04873000000001</real>
		<key>lineup</key>
		<string>https://lineup.bonnaroo.com/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Bumbershoot</string>
		<key>date</key>
		<string>2015-09-07</string>
		<key>imageString</key>
		<string>bumber</string>
		<key>tableImageString</key>
		<string>bumberLogo</string>
		<key>lat</key>
		<real>47.622038</real>
		<key>long</key>
		<real>-122.352</real>
		<key>lineup</key>
		<string>https://bumbershoot.org/lineup/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Coachella Weekend 1</string>
		<key>date</key>
		<string>2015-04-10</string>
		<key>imageString</key>
		<string>Coachella</string>
		<key>tableImageString</key>
		<string>CoachellaLogo</string>
		<key>lat</key>
		<real>33.678452</real>
		<key>long</key>
		<real>-116.237273</real>
		<key>lineup</key>
		<string>https://www.coachella.com/poster-iframe/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Coachella Weekend 2</string>
		<key>date</key>
		<string>2015-04-17</string>
		<key>imageString</key>
		<string>Coachella</string>
		<key>tableImageString</key>
		<string>CoachellaLogo</string>
		<key>lat</key>
		<real>33.678452</real>
		<key>long</key>
		<real>-116.237273</real>
		<key>lineup</key>
		<string>https://www.coachella.com/poster-iframe/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>CounterPoint</string>
		<key>date</key>
		<string>2015-05-22</string>
		<key>imageString</key>
		<string>counterpoint</string>
		<key>tableImageString</key>
		<string>counterpointLogo</string>
		<key>lat</key>
		<real>33.6333706</real>
		<key>long</key>
		<real>-84.70248839999999</real>
		<key>lineup</key>
		<string>https://www.counterpointfestival.com/2015-lineup-poster/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Electric Daisy Carnival</string>
		<key>date</key>
		<string>2015-06-19</string>
		<key>imageString</key>
		<string>EDC</string>
		<key>tableImageString</key>
		<string>EDCLogo</string>
		<key>lat</key>
		<real>36.271542</real>
		<key>long</key>
		<real>-115.009732</real>
		<key>lineup</key>
		<string>https://lasvegas.electricdaisycarnival.com/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Electric Forest</string>
		<key>date</key>
		<string>2015-06-25</string>
		<key>imageString</key>
		<string>EFF</string>
		<key>tableImageString</key>
		<string>EFFLogo</string>
		<key>lat</key>
		<real>43.5221943</real>
		<key>long</key>
		<real>-86.3611314</real>
		<key>lineup</key>
		<string>https://www.electricforestfestival.com/experience/lineup/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>FireFly</string>
		<key>date</key>
		<string>2015-06-18</string>
		<key>imageString</key>
		<string>firefly</string>
		<key>tableImageString</key>
		<string>fireflyLogo</string>
		<key>lat</key>
		<real>39.194752</real>
		<key>long</key>
		<real>-75.523732</real>
		<key>lineup</key>
		<string>https://fireflyfestival.com/lineup/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Governors Ball</string>
		<key>date</key>
		<string>2015-06-05</string>
		<key>imageString</key>
		<string>govBall</string>
		<key>tableImageString</key>
		<string>govlogo</string>
		<key>lat</key>
		<real>40.795813</real>
		<key>long</key>
		<real>-73.922517</real>
		<key>lineup</key>
		<string>https://lineup.governorsballmusicfestival.com/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Hangout</string>
		<key>date</key>
		<string>2015-05-15</string>
		<key>imageString</key>
		<string>hangout</string>
		<key>tableImageString</key>
		<string>hangoutLogo</string>
		<key>lat</key>
		<real>30.252283</real>
		<key>long</key>
		<real>-87.689481</real>
		<key>lineup</key>
		<string>https://lineup.hangoutmusicfest.com/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Lollapalooza</string>
		<key>date</key>
		<string>2015-07-31</string>
		<key>imageString</key>
		<string>lolla</string>
		<key>tableImageString</key>
		<string>lollaLogo</string>
		<key>lat</key>
		<real>41.8741871</real>
		<key>long</key>
		<real>-87.6207948</real>
		<key>lineup</key>
		<string>https://www.lollapalooza.com/2014-lineup/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Sasquatch!</string>
		<key>date</key>
		<string>2015-05-23</string>
		<key>imageString</key>
		<string>sasquatch</string>
		<key>tableImageString</key>
		<string>sasquatchLogo</string>
		<key>lat</key>
		<real>47.101387</real>
		<key>long</key>
		<real>-119.995638</real>
		<key>lineup</key>
		<string>https://lineup.sasquatchfestival.com/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Summer Camp</string>
		<key>date</key>
		<string>2015-05-22</string>
		<key>imageString</key>
		<string>sc</string>
		<key>tableImageString</key>
		<string>scLogo</string>
		<key>lat</key>
		<real>40.893674</real>
		<key>long</key>
		<real>-89.504002</real>
		<key>lineup</key>
		<string>https://summercampfestival.com/lineup/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>SxSW</string>
		<key>date</key>
		<string>2015-03-13</string>
		<key>imageString</key>
		<string>sxsw</string>
		<key>tableImageString</key>
		<string>sxswLogo</string>
		<key>long</key>
		<real>-97.7275389</real>
		<key>lat</key>
		<real>30.263388</real>
		<key>lineup</key>
		<string>https://schedule.sxsw.com/?conference=music&amp;lsort=name&amp;day=ALL&amp;event_type=showcase</string>
	</dict>
	<dict>
		<key>title</key>
		<string>PitchFork</string>
		<key>date</key>
		<string>2015-07-17</string>
		<key>imageString</key>
		<string>pf</string>
		<key>tableImageString</key>
		<string>pfLogo</string>
		<key>lat</key>
		<real>41.884762</real>
		<key>long</key>
		<real>-87.66527600000001</real>
		<key>lineup</key>
		<string>https://www.pitchforkmusicfestival.com/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Tomorrow World</string>
		<key>date</key>
		<string>2015-09-25</string>
		<key>imageString</key>
		<string>tworld</string>
		<key>tableImageString</key>
		<string>tworldLogo</string>
		<key>lat</key>
		<real>33.6333706</real>
		<key>long</key>
		<real>-84.70248839999999</real>
		<key>lineup</key>
		<string>https://www.tomorrowworld.com/Lineup</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Ultra</string>
		<key>date</key>
		<string>2015-03-27</string>
		<key>imageString</key>
		<string>Ultra</string>
		<key>tableImageString</key>
		<string>UltraLogo</string>
		<key>long</key>
		<real>-80.207033</real>
		<key>lat</key>
		<real>25.76679</real>
		<key>lineup</key>
		<string>https://www.ultramusicfestival.com/lineup</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Voodoo</string>
		<key>date</key>
		<string>2015-10-30</string>
		<key>imageString</key>
		<string>voodoo</string>
		<key>tableImageString</key>
		<string>voodooLogo</string>
		<key>lat</key>
		<real>30.005564</real>
		<key>long</key>
		<real>-90.09166999999999</real>
		<key>lineup</key>
		<string>https://worshipthemusic.com/artists/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wakarusa</string>
		<key>date</key>
		<string>2015-06-04</string>
		<key>imageString</key>
		<string>waka</string>
		<key>tableImageString</key>
		<string>wakaLogo</string>
		<key>lat</key>
		<real>35.711776</real>
		<key>long</key>
		<real>-93.797192</real>
		<key>lineup</key>
		<string>https://www.wakarusa.com/artist-lineup/</string>
	</dict>
</array>
</plist>
