<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- PEALISTv1: TextSize:0| -->
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Austin City Limits Weekend 1</string>
		<key>date</key>
		<string>2015-10-02</string>
		<key>imageString</key>
		<string>ACL.jpg</string>
		<key>tableImageString</key>
		<string>ACLLogo.jpg</string>
		<key>lat</key>
		<real>30.2585025</real>
		<key>long</key>
		<real>-97.7692911</real>
		<key>lineup</key>
		<string>http://www.aclfestival.com/lineup/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Austin City Limits Weekend 2</string>
		<key>date</key>
		<string>2015-10-09</string>
		<key>imageString</key>
		<string>ACL.jpg</string>
		<key>tableImageString</key>
		<string>ACLLogo.jpg</string>
		<key>lat</key>
		<real>30.2585025</real>
		<key>long</key>
		<real>-97.7692911</real>
		<key>lineup</key>
		<string>http://www.aclfestival.com/lineup/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Bonnaroo</string>
		<key>date</key>
		<string>2016-06-09</string>
		<key>imageString</key>
		<string>Bonnaroo.jpg</string>
		<key>tableImageString</key>
		<string>BonnarooLogo.jpg</string>
		<key>lat</key>
		<real>35.472265</real>
		<key>long</key>
		<real>-86.04873000000001</real>
		<key>lineup</key>
		<string>http://lineup.bonnaroo.com</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Bumbershoot</string>
		<key>date</key>
		<string>2015-09-05</string>
		<key>imageString</key>
		<string>bumber.jpeg</string>
		<key>tableImageString</key>
		<string>bumberLogo.jpeg</string>
		<key>lat</key>
		<real>47.622038</real>
		<key>long</key>
		<real>-122.352</real>
		<key>lineup</key>
		<string>http://bumbershoot.com/full_lineup</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Coachella Weekend 1</string>
		<key>date</key>
		<string>2016-04-15</string>
		<key>imageString</key>
		<string>Coachella.jpeg</string>
		<key>tableImageString</key>
		<string>CoachellaLogo.jpg</string>
		<key>lat</key>
		<real>33.678452</real>
		<key>long</key>
		<real>-116.237273</real>
		<key>lineup</key>
		<string>https://coachella-2014-site.s3.amazonaws.com/wp-content/uploads/2015/06/coa_2015_1800x2400_v44_w2015.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Coachella Weekend 2</string>
		<key>date</key>
		<string>2016-04-22</string>
		<key>imageString</key>
		<string>Coachella.jpeg</string>
		<key>tableImageString</key>
		<string>CoachellaLogo.jpg</string>
		<key>lat</key>
		<real>33.678452</real>
		<key>long</key>
		<real>-116.237273</real>
		<key>lineup</key>
		<string>https://coachella-2014-site.s3.amazonaws.com/wp-content/uploads/2015/06/coa_2015_1800x2400_v44_w2015.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>CounterPoint</string>
		<key>date</key>
		<string>2016-05-21</string>
		<key>imageString</key>
		<string>counterpoint.jpeg</string>
		<key>tableImageString</key>
		<string>counterpointLogo.jpeg</string>
		<key>lat</key>
		<real>33.6333706</real>
		<key>long</key>
		<real>-84.70248839999999</real>
		<key>lineup</key>
		<string>http://cpfp3.c3cdn.com/wp/wp-content/uploads/2015/04/CP15_lineupbyday_11x17in_0422.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Electric Daisy Carnival</string>
		<key>date</key>
		<string>2016-06-17</string>
		<key>imageString</key>
		<string>EDC.jpg</string>
		<key>tableImageString</key>
		<string>EDCLogo.png</string>
		<key>lat</key>
		<real>36.271542</real>
		<key>long</key>
		<real>-115.009732</real>
		<key>lineup</key>
		<string>http://lasvegas.electricdaisycarnival.com/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Electric Forest</string>
		<key>date</key>
		<string>2016-06-24</string>
		<key>imageString</key>
		<string>EFF.jpg</string>
		<key>tableImageString</key>
		<string>EFFLogo.jpg</string>
		<key>lat</key>
		<real>43.5221943</real>
		<key>long</key>
		<real>-86.3611314</real>
		<key>lineup</key>
		<string>https://www.electricforestfestival.com/experience/lineup/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>FireFly</string>
		<key>date</key>
		<string>2016-06-17</string>
		<key>imageString</key>
		<string>firefly.jpeg</string>
		<key>tableImageString</key>
		<string>fireflyLogo.jpeg</string>
		<key>lat</key>
		<real>39.194752</real>
		<key>long</key>
		<real>-75.523732</real>
		<key>lineup</key>
		<string>https://fireflyfestival.com/lineup/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Governors Ball</string>
		<key>date</key>
		<string>2016-06-03</string>
		<key>imageString</key>
		<string>govBall.jpeg</string>
		<key>tableImageString</key>
		<string>govlogo.jpeg</string>
		<key>lat</key>
		<real>40.795813</real>
		<key>long</key>
		<real>-73.922517</real>
		<key>lineup</key>
		<string>http://lineup.governorsballmusicfestival.com/?sort=day</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Hangout</string>
		<key>date</key>
		<string>2016-05-20</string>
		<key>imageString</key>
		<string>hangout.jpeg</string>
		<key>tableImageString</key>
		<string>hangoutLogo.png</string>
		<key>lat</key>
		<real>30.252283</real>
		<key>long</key>
		<real>-87.689481</real>
		<key>lineup</key>
		<string>http://lineup.hangoutmusicfest.com/events/2015/05/15/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Lollapalooza</string>
		<key>date</key>
		<string>2016-07-29</string>
		<key>imageString</key>
		<string>lolla.jpeg</string>
		<key>tableImageString</key>
		<string>lollaLogo.jpg</string>
		<key>lat</key>
		<real>41.8741871</real>
		<key>long</key>
		<real>-87.6207948</real>
		<key>lineup</key>
		<string>https://www.lollapalooza.com/2015-lineup/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Sasquatch!</string>
		<key>date</key>
		<string>2016-05-27</string>
		<key>imageString</key>
		<string>sasquatch.jpeg</string>
		<key>tableImageString</key>
		<string>sasquatchLogo.jpeg</string>
		<key>lat</key>
		<real>47.101387</real>
		<key>long</key>
		<real>-119.995638</real>
		<key>lineup</key>
		<string>http://lineup.sasquatchfestival.com</string>
	</dict>
	<dict>
		<key>title</key>
		<string>SxSW</string>
		<key>date</key>
		<string>2016-03-15</string>
		<key>imageString</key>
		<string>sxsw.jpeg</string>
		<key>tableImageString</key>
		<string>sxswLogo.jpeg</string>
		<key>long</key>
		<real>-97.7275389</real>
		<key>lat</key>
		<real>30.263388</real>
		<key>lineup</key>
		<string>http://www.sxsw.com/schedule</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Tomorrow World</string>
		<key>date</key>
		<string>2016-09-23</string>
		<key>imageString</key>
		<string>tworld.jpeg</string>
		<key>tableImageString</key>
		<string>tworldLogo.jpeg</string>
		<key>lat</key>
		<real>33.6333706</real>
		<key>long</key>
		<real>-84.70248839999999</real>
		<key>lineup</key>
		<string>http://www.tomorrowworld.com/Lineup</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Ultra</string>
		<key>date</key>
		<string>2016-03-18</string>
		<key>imageString</key>
		<string>Ultra.jpg</string>
		<key>tableImageString</key>
		<string>UltraLogo.png</string>
		<key>long</key>
		<real>-80.207033</real>
		<key>lat</key>
		<real>25.76679</real>
		<key>lineup</key>
		<string>http://www.ultramusicfestival.com/lineup</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Voodoo</string>
		<key>date</key>
		<string>2015-10-30</string>
		<key>imageString</key>
		<string>voodoo.jpeg</string>
		<key>tableImageString</key>
		<string>voodooLogo.jpeg</string>
		<key>lat</key>
		<real>30.005564</real>
		<key>long</key>
		<real>-90.09166999999999</real>
		<key>lineup</key>
		<string>http://worshipthemusic.com/artists/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wakarusa</string>
		<key>date</key>
		<string>2016-06-02</string>
		<key>imageString</key>
		<string>waka.jpeg</string>
		<key>tableImageString</key>
		<string>wakaLogo.jpeg</string>
		<key>lat</key>
		<real>35.711776</real>
		<key>long</key>
		<real>-93.797192</real>
		<key>lineup</key>
		<string>http://www.wakarusa.com/artist-lineup/</string>
	</dict>
</array>
</plist>
